# used to controll which environment variables are used by the application. 
# Possible values: dev, test and prod
NODE_ENV=dev

#------------------------------------------------------------------------------------
# [DEVELOPMENT ENVIRONMENT - START] 
#------------------------------------------------------------------------------------

# Control which databases are enabled
POSTGRES_ENABLED_DEV=true
MONGO_ENABLED_DEV=true
NEO4J_ENABLED_DEV=true

#------------------------------------------------------------------------------------
#[START] POSTGRES database connection details:

# prisma client only need a connection string
POSTGRES_DATABASE_URL_DEV=postgresql://postgres:postgres@localhost:5432/postgres

# credentials to run a local Postgres database using Docker:
POSTGRES_PORT_DEV=5432
POSTGRES_USER_DEV=postgres
POSTGRES_PASSWORD_DEV=postgres
POSTGRES_DB_DEV=postgres
DB_VOLUME_DEV=database_volume

#[END] POSTGRES database connection details:
#------------------------------------------------------------------------------------



#------------------------------------------------------------------------------------
#[START] MONGO database connection details:
MONGO_DB_URI_DEV=mongodb://localhost:27018/mongo?directConnection=true # The ?directConnection=true is required for standalone local MongoDB — without it Prisma tries replica set discovery and times out.

MONGO_DB_DEV=mongo
#[END] MONGO database connection details:
#------------------------------------------------------------------------------------



#------------------------------------------------------------------------------------
#[START] NEO4J database connection details:
NEO4J_URL_DEV="neo4j://localhost:7687"

NEO4J_USERNAME_DEV="neo4j"
NEO4J_PASSWORD_DEV="password"
NEO4J_DB_DEV="neo4j"         
#[END] NEO4J database connection details:
#------------------------------------------------------------------------------------

#------------------------------------------------------------------------------------
# [DEVELOPMENT ENVIRONMENT - END] 
#------------------------------------------------------------------------------------






#------------------------------------------------------------------------------------
# [PRODUCTION ENVIRONMENT - START] 
#------------------------------------------------------------------------------------

# Control which databases are enabled
POSTGRES_ENABLED_PROD=true
MONGO_ENABLED_PROD=true
NEO4J_ENABLED_PROD=true

#------------------------------------------------------------------------------------
#[START] POSTGRES database connection details:
POSTGRES_DATABASE_URL_PROD=
#[END] POSTGRES database connection details:
#------------------------------------------------------------------------------------



#------------------------------------------------------------------------------------
#[START] MONGO database connection details:
MONGO_DB_URI_PROD=
MONGO_DB_PROD=
#[END] MONGO database connection details:
#------------------------------------------------------------------------------------



#------------------------------------------------------------------------------------
#[START] NEO4J database connection details:
NEO4J_URL_PROD=

NEO4J_USERNAME_PROD=
NEO4J_PASSWORD_PROD=
NEO4J_DB_PROD=         
#[END] NEO4J database connection details:
#------------------------------------------------------------------------------------

#------------------------------------------------------------------------------------
# [PRODUCTION ENVIRONMENT - END] 
#------------------------------------------------------------------------------------
