services:
  app:
    container_name: backend
    image: ${DOCKER_HUB_USERNAME}/database:latest
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - database_network

networks:
  database_network:
    name: database_network
  
